<!DOCTYPE html>
<html>
<head>
	<style>
        body {
            background-image: url('{{ background_image }}');
            background-size: contain;
    		background-repeat: no-repeat; /* Prevents tiling */
    		background-position: center;
        }
    </style>
<center>
	<font color="DodgerBlue" size="5" style="font-family: avenir">
		<h1>Developed by: {{ developer_name }}</h1>

		<body style="background: {{ color }};">
			<h1>The employee {{ name }} wassuccessfully added to the database</h1><br>
			<h2>The Employee has been added to the database</h2><br>
			<h2>{{ name }}</h2><br>
			<title>Add Emp Output</title>
			<a href="{{ url_for('home') }}">Back</a>
		</body>
	</font>
</center>
</head>
<body>

</body>
</html>
